<div class="post">
    <div class="card">
        <div class="container3">
            <h2 style="color:dimgray;">{{this.name}}</h2>
            <b style="display: inline-block;color:coral">
                {{this.title}}</b><br><br>
            <div style="text-align: center;">
                <img src={{this.image}} alt="image" width="400px" height="300px" />
            </div>
            <br>
            <b style="display: inline-block;">{{this.content}}</b><br>
            <br>
        </div>
    </div>
</div>