<div class="card" id="post">
    <h2>{{this.name}}</h2>
    <b class="title">
        {{this.title}}</b><br><br>
    <div class="image">
        <img src={{this.image}} alt="image" />
    </div>
    <br>
    <b>{{this.content}}</b><br>
    <br>
</div>