{{#each this.model as |history|}}
<div class="history card">
    <b class="title">Date</b><b>: {{history.date}}</b>
    <br>
    <b class="title">Type</b><b>: {{history.type}}</b>
    <br>
    <b class="title">Distance </b><b>: {{history.distance}} km</b>
    <br>
    <b class="title">Time</b><b>: {{history.runTime}} min</b>
    <br>
</div>
{{/each}}