{{!-- <div><br>
    <b class="title" style="color:coral; width:150px;">Total Distance </b>
    <b style="display: inline-block;">:&nbsp;100km
    </b><br>
    <b class="title" style="color:coral; width:150px;">Total Time </b>
    <b style="display: inline-block;">:&nbsp;5 hrs
    </b><br>
    <hr>
</div> --}}
{{outlet}}