<div class="container4">
    <form class="example">
        <input type="text" placeholder="Search.." name="search">
        <button class="invite" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<br>
<br>

<div class="post">
    <LinkTo @route="view-friend" class="friend" @model="2">

        <div class="card">
            <div class="container3">
                <h2>kishore</h2>
                <b>Distance:10km<br></b>
                <br>
            </div>
        </div>
    </LinkTo>
    <LinkTo @route="view-friend" class="friend" @model="1">

        <div class="card">
            <div class="container3">
                <h2>Sura</h2>
                <b>Distance:10km<br></b>
                <br>
            </div>
        </div>
    </LinkTo>
</div>