<form action="#" method="post">

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>

        <div>
            <span class="psw1">Forgot
                <LinkTo @route="change-password">Password.</LinkTo>
            </span>
            <span class="psw">
                <LinkTo @route="registration">Sign Up</LinkTo>
            </span>
        </div>
    </div>
</form>